<div class="news-timeline">
  <h4>NEWS</h4>
  {% if site.news != blank -%}
    {%- assign news = site.news | reverse -%}
    {%- if site.news_limit -%}
      {%- assign news_limit = site.news_limit -%}
    {%- else -%}
      {%- assign news_limit = news | size -%}
    {%- endif -%}
    <div class="news-list{% if site.news_scrollable %} news-list-scrollable{% endif %}">
      {%- for item in news limit: news_limit %}
      <div class="news-item">
        <div class="news-date">{{ item.date | date: "%b %-d, %Y" }}</div>
        <div class="news-headline">
          {%- if item.inline -%}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif -%}
        </div>
      </div>
      {%- endfor %}
    </div>
  {%- else -%}
    <p>No news so far...</p>
  {%- endif %}
</div>
