---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header text-center">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-description{% if page.description_italic %} font-italic{% endif %}">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

          {% if page.series %}
            {% include series_nav.html %}
          {% endif %}

        </div>
